*{
    box-sizing: border-box;
    font-family: "Lucida Sans", sans-serif;
}
body{
    margin: 0;
    background: #2c3e50;
    color: #fff;
}
.container-box{
    display: grid;
    gap: 1.5rem;
    margin: 3rem auto;
    max-width: 700px;
    padding: 1rem;

}
.container-header{
    font-size: 2rem;
}
.platform{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 20px;
}
.Team{
    display: block;
    background-color: rgb(65, 159, 253);
    color: white;
    padding: 1rem;
    height: 7rem;
    border-radius: 7px;
    text-decoration: none;
    padding: 10px;
}
.Mango{
    display: block;
    background-color: rgb(58, 205, 144);
    color: white;
    padding: 1rem;
    height: 7rem;
    border-radius: 7px;
    text-decoration: none;
    padding: 10px;
}
.Moodle{
    display: block;
    background-color: rgb(120, 110, 215);
    color: white;
    padding: 1rem;
    height: 7rem;
    border-radius: 7px;
    text-decoration: none;
    padding: 10px;
}
img{
    width: 100px;
}